/* Drupal. archiver module stylesheet */
ul#archiver_archive, ul#archiver_archive ul {
	list-style-type: none !important;
	margin-left:0 !important;
	padding-left: 0 !important;
	margin-bottom:1em;
}
#archiver_archive li {
	margin-left: 0.5em;
}
ul#archiver_archive li li {
	margin-left:1em;
}
#archiver_archive h1 {
	font-weight: bolder;
}
#archiver_archive h2 {
	/*color: #777777;*/
}
ul#archiver_archive h3 {
	/*color:brown;*/
	display:inline;
}
ul#archiver_archive h1, ul#archiver_archive h2, ul#archiver_archive h3 {
	margin:0;
}
span.archiver_nodeinfo {
}
/**
 * Need to fix incorrectly positioned select box
 * for node weights. It overlapped with links in
 * the operations column.   */
div.weight_selector {
  float:none !important;
}
